.container {
	width: 100%;
	min-width: 1280px;
	height: 2000px;

	header {
		position: fixed;
		height: 56px;
		background-color: #FFF;
		width: 100%;
		min-width: 1280px;
		z-index: 1001;

		.logo {
			float: left;
			width: 140px;
			height: 56px;
			margin-left: 60px;
			background: url("../images/logo.png") no-repeat left center;
			background-size: 16% 50%; 

			p {
				margin-left: 30px;
                color: #4E3A4F;
                font: 500 24px "microsoft yahei";
                line-height: 56px;
			}
		}


		.login {
			float: right;
			width: 90px;
			height: 56px;
			background: url("../images/icon-2.jpg") no-repeat left center;
			background-size: 14px 17px;

			a {
				display: inline-block;
				width: 70px;
				height: 38px;
				line-height: 56px;
				color: #E53C3C;
				font: 14px "microsoft yahei";
				text-decoration: none;
				text-align: center;
				padding-top: 18px;

			}	

		}


		ul {
			float: right;
			width: 400px;
			margin-right: 150px;
			height: 56px;
			position: relative;

			li {
				float: left;
				width: 20%;
				height: 56px;
				text-align: center;

				a {
					display: block;
					width: 100%;
					height: 100%;
					font: 14px "microsoft yahei";
					line-height: 56px;
					color: #888;
					text-decoration: none;
					transition:color 0.4s ease-in-out;

					&:hover {
    					color: #F04C57;
					}
				}

				&:nth-of-type(1):hover~.move {
					left: 0;
				}
				&:nth-of-type(2):hover~.move {
					left: 20%;
				}
				&:nth-of-type(3):hover~.move {
					left: 40%;
				}
				&:nth-of-type(4):hover~.move {
					left: 60%;
				}
				&:nth-of-type(5):hover~.move {
					left: 80%;
				}
			}

			.move {
				position: absolute;
				border-top: 4px solid #F04C57;
			    left: 0;
			    top: 52px;

			    transition: left 0.4s ease-in-out;
			}



		}

	}

	main {

		.section-one {
			.banner {
				width: 100%;
				height: 799px;
				background: url("../images/banner.jpg") no-repeat top center;
				padding-top: 56px;
				background-size: 100% auto;
				position: relative;

				.banner-container {
					position: absolute;
					top: 260px;
					left: 120px;

					p {
						&:first-of-type {
						    font: 60px "Arial";
						    color: #fff;
						    margin-bottom: 20px;
						    letter-spacing: 3px;
						}

						&:nth-of-type(2),&:nth-of-type(3) {
							font-size: 22px;
						    color: #fff;
						    margin-bottom: 5px;
						}

					}

					span {
						display: inline-block;
						width: 300px;
						height: 52px;
						margin-top: 50px;

						background-color: #e8504f;
						color: #fff;
						font: 30px/1 "Microsoft YaHei";
    					text-align: center;
    					padding-top: 17px;
    					cursor: pointer;
    					transition: background-color 0.4s ease-in-out; 

    					&:hover {
							background-color: #E31212;

    					}
					}



				}
			}

		}

		.section-two {
			width: 100%;
			min-width: 1280px;
			height: 240px;
			margin-top: 20px;

			.intro {
				float: left;
				width: 25%;

				.img {
					height: 130px;
					width: 100%;
					text-align: center;
					line-height: 130px;

					img {
						height: 42px;
						width: 42px;
					}
				}

				.content-wrap {
					width: 100%;
					border-right: 2px solid #534141;
					margin-bottom: 20px;
					

					.intro-content {

						width: 155px;
						margin: 0 auto;
						font: 14px "microsoft yahei"; 
						color: #534141;
						line-height: 25px;
						text-align: center;
						transition: all 0.4s ease-in-out;
					}

				}


				&:hover .intro-content {
					color: #E53C3C;
				}


				&:last-of-type {
					.content-wrap {
						border-right: none;
					}
				}



				
			}
		}

		.section-three {
			height: 400px;
			width: 100%;
			min-width: 1280px;
			background-color: #EDEAEA;
			position: relative;

			.img {

				width: 100%;
				height: 92px;
				text-align: center;
				position: absolute;
				top: 80px;

				img {
					width: 91px;
					height: 92px;
				}

			}

			.intro {
				width: 100%;
				padding-top: 230px;
				text-align: center;

				font: 50px/1 "microsoft yahei";
				color: #534141;


			}
		}

		.section-four {
			width: 100%;
			min-width: 1280px;
			height: 351px;
			padding-top: 80px;

			background: url("../images/search.png") no-repeat;
			background-size: cover;

			.intro {
				text-align: center;

				p:first-of-type {
					font: 22px "microsoft yahei";
					color: #fff;
					margin-bottom: 10px;
				}

				span {
					color: #fff;
				    display: inline-block;
				    width: 30px;
				    height: 20px;
				    margin-top: 10px;
				    border-top: 2px solid #fff;
				    transition: width 0.4s ease-in-out;

				}

				p:last-of-type {
					font: 14px "microsoft yahei";
					color: #fff;
					margin-bottom: 10px;
				}

				&:hover span {
					width: 300px;
				}

			}


			.select {

			}
		}

		.section-five {
			width: 100%;
			height: 500px;
			min-width: 1280px;
			background-color: #EDEAEA;
			padding-top: 100px;

			.activities-wrap {
				width: 1000px;
				height: 100%;
				margin: 0 auto;

				figure {
					float: left;
					width: 220px;

					margin-right: 35px;

					&:last-of-type {
						margin-right: 0;

					}

					a {
						display: block;
						width: 200px;
						height: 310px;
						border: 13px solid #fff;
						background-color: #EDEAEA;
						transition: all 1s ease-in-out;
					}

					figcaption {
						margin-top: 10px;
						text-align: center;
						p:first-of-type {
							font: 14px "microsoft yahei";
							margin-bottom: 5px;
							color: #44403F;
							width: 100%;
							transition: font 1s, text-indent 1s, letter-spacing 1s;
						}

						p:last-of-type {
							font: 12px "microsoft yahei";
							color: #B3AFAC;
							transition: font 1s, text-indent 1s, letter-spacing 1s;
							

						}

						transition: all 1s ease-in-out;
					}

					&:hover {

						a {
							transform: translateY(60px);
						}

						figcaption {
							transform: translateY(-350px);

							p:first-of-type {
	                            font: 23px/1 "microsoft yahei";
	                            text-indent: 1em;
	                            letter-spacing: 1em;
	                        }

	                        p:last-of-type {
	                            margin-top: 8px;
	                        }
						}



					}
				}

			}
		}

		.section-six {
			width: 100%;
			min-width: 1280px;
			height: 460px;

			.left {

				width: 66%;
			    height: 460px;
				background: url("../images/pic1.png") no-repeat;
				background-size: cover;
				float: left;
				position: relative;

				.intro {
					width: 500px;
					padding-top: 80px;
					text-align: center;
					margin: auto;
					color: #fff;

					p {
						text-align: center;
						margin-bottom: 15px;
						display: inline-block;
						&:first-of-type {

							font: 50px/1 "microsoft yahei";
						}

						&:nth-of-type(2) {
							font: 150px/1 "microsoft yahei";
						}

						&:nth-of-type(3) {
							font: 30px/1 "microsoft yahei";
						}

						&:nth-of-type(4) {
							font: 30px/1 "microsoft yahei";
						}


					}

					&::after {
						content:"";
						border-width: 30px;
						border-style: solid;
						border-color: transparent #fff  transparent transparent;
						position: absolute;
						left: 100%;
						top: 200px;
						margin-left: -60px;
					}

				}

			}

			.right {
				float: right;
				width: 34%;

				div {
					width: 300px;
					margin: 0 auto;
					text-align: center;
				}

				.mes {
					padding-top: 100px;
					

					p:first-of-type {
						font: 700 20px/1 "microsoft yahei";
						span {
							color: #c92e35;
						}
						margin-bottom: 20px;
					}

					p:nth-of-type(2) {
						font: 14px/2 "microsoft yahei";
						color: #B3AFAC;
					}
					
				}

				.button {
					margin-top: 50px;
					width: 100px;
					height: 30px;
					border: 1px solid #c92e35;
					font: 14px "microsoft yahei";
					color: #c92e35;
					line-height: 30px;
					cursor: pointer;
					transition: all 0.4s ease-in-out;

					&:hover {
						color: #fff;
						background-color: #c92e35;
					}
				}

				.list {
					margin-top: 30px;
					width: 46px;
					span {
						float: left;
						display: inline-block;
						width: 10px;
						height: 10px;
						border-radius: 5px;
						border: 1px solid #333;
						margin-left: 5px;

						&:first-of-type {
							margin-left: 0;
							background-color: #333;
						}
					}
				}

			}
		}

		.section-seven {
			width: 100%;
			min-width: 1280px;
			height: 520px;
			.wrap {
				width: 66%;
				float: left;
				height: 100%;
				.cell {
					width: 50%;
					float: left;
					height: 100%;
					.intro {
						text-align: center;
						padding-top: 200px;

						p {
							font: 22px "microsoft yahei";
							color: #fff;
							&:first-of-type {
								margin-bottom: 5px;
							}

						}
						span {
							margin-top: 30px;
							display: inline-block;
							width: 30px;
							height: 2px;
							background-color: #FFF;
							transition: width 0.4s ease-in-out;
						}

					} 
					.button {
						width: 150px;
						height: 40px;
						margin: 0 auto;
						margin-top: 50px;
						border: 1px solid #fff;
						text-align: center;
						color: #fff;
						font: 18px "microsoft yahei";
						line-height: 40px;
						background-color: #E84E4C;
						cursor: pointer;
						transition: background-color 0.4s ease-in-out,  color 0.4s ease-in-out;


						&:hover {
							background-color: #FFF;
							color: #E84E4C;
						}
					}
					&:first-of-type {
						background-color: #E84E4C;


					}
					&:last-of-type {
						background-color: #FFF;
						p {
							color: #333;
						}
						span {
							background-color: #ccc;
						}

						.button {
							background-color: #FFF;
							color: #E84E4C;
							border-color: #E84E4C;

							&:hover {
								background-color: #E84E4C;
								color: #fff;
							}
						}

					}

					&:hover span {
						width: 200px;
					}
				}
			}
			.img {
				float: left;
				background: url("../images/life.jpg") no-repeat;
				width: 34%;
				height: 100%;
				background-size: cover;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					border-width: 30px;
					border-style: solid;
					border-color: transparent transparent transparent #fff;
					top: 230px;
					left: 0;
				}
			}
		}


		.section-eight {
			height: 1000px;
		}

	}

	footer {

	}
}